<br>
<hr>
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-4">
        <mat-card class="example-card">
            <mat-card-content>
              <i class="fab fa-creative-commons-share"></i><br>
              <p>
                  "I was a housewife and mother - I could only work when my son slept, so a permanent job was out of the question. The parental allowance was far from enough and then a friend recommended me! Thank you, only through you I could survive the time without financial bottlenecks!"
                  <br>
                  <br>
                  <b>Nadine Weber</b>
              </p>
            </mat-card-content>

          </mat-card>
    </div>
    <div class="col-4">
        <mat-card class="example-card">
            <mat-card-content>
              <i class="fab fa-creative-commons-share"></i><br>
              <p>
                  "Hello dear bonus bunny team,<br>

                  I am a taxi driver and often have long waiting times. But through you I can spend this meaningfully and earn money even if I earn no money in my main job. This is a great asset and I soon saved my first condominium. Many Thanks."<br>

                  Greetings, Rolf<br>
                  <br>
                  <b>Rolf Igniter</b>
              </p>
            </mat-card-content>

          </mat-card>
    </div>
    <div class="col-4">
        <mat-card class="example-card">
            <mat-card-content>
              <i class="fab fa-creative-commons-share"></i><br>
              <p>
                  "I was unemployed for 2 years and was then sent from one temporary employment agency to the next, just to be independent of the state. Thanks to Bonus Bunny, I was able to put something aside every month in these uncertain times. I was able to open my own kiosk 6 months ago and can live on it wonderfully. It's also fun to be your own boss. Without Bonus Bunny, I would never have been able to do that step. Thank you"
                  <br>
                  <br>
                  <b>Simon Schlosser</b>
              </p>
            </mat-card-content>

          </mat-card>
    </div>
  </div>
</div>
