<div class="container-fluid">
  <div class="row text-center">
    <img class="img-fluid" src="../../../../assets/img/mainBannerImg.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
    <h1>MAKE ONLINE MONEY<BR>WITH BONUS BUNNY</h1>
    <p>Since 2010, Bonus Bunny is one of the first compaoonies in the world to earn money online through affiliate programs.</p>
    <br>
    <button class="btn btn-outline-warning btn-lg" [routerLink]="['signup']" routerLinkActive="router-link-active" >TO REGISTER</button>
  </div>
  </div>
</div>
