<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12 ">
      <h2>We have to offer</h2>
      <mat-tab-group class="border">
        <mat-tab label="Affiliate programs">
          <p>With us you have the opportunity to participate directly in a variety of affiliate programs. You do not
            have to apply to every single advertiser, because Bonus Bunny is already networked with over 800 providers.
            You do not have to advertise anyone as a new customer, you do not have to buy anything! Our business model
            is independent and serious!</p>
        </mat-tab>
        <mat-tab label="How does it work?">
          <p>In short:<br>

            Here you have the opportunity to make easy money by participating in various free bonus promotions,
            advertising emails, banner ads and other income streams.</p>
        </mat-tab>
        <mat-tab label="Why Bonus Bunny">
          <p>
            There is no serious alternative! Are you using Google? Is someone writing bad about us, except for the
            competition? No! However, if you are looking for other pages, you will see how they work. No money is paid,
            the members get only 1-2% of the sum ... We do not want to be like that! We win if you win!
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 search-box">
      <form>
        <input type="text" class="form-contorl">
        <button class="btn search-btn">Search</button>
        <br>
        <br>
        <br>
        <button class="btn btn-lg join-now-btn">JOIN NOW</button>

      </form>

    </div>
  </div>

</div>
