.container-fluid {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.container-fluid img {
  vertical-align: middle;
  z-index: -1;

}

.container-fluid .content {
  position: absolute;
  bottom: 0;
  top: 50%;
  /* background: rgb(0, 0, 0); */
  /*Fallback color */
  /* background: rgba(0, 0, 0, 0.5); */
  /* Black background with 0.5 opacity */

  width: 100%;


  color: #ffc107
}

button {
  border-width: 2px;
}

.row {
  position: relative;

}
