<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-4 col-xs-12 col-sm-12">
      <img src="../../../../assets/img/businessmen3.png">
      <br>
      <h5>members</h5>
      <br>
      <h4>30.701</h4>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
      <img src="../../../../assets/img/businessman2.png" >
      <br>
      <h5>payout</h5>
      <br>
      <h4>1,500,000 € </h4>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
      <img src="../../../../assets/img/euro1.png" >
      <br>
      <h5>Years of bonus bunny</h5>
      <br>
      <h4>8th</h4>
    </div>
  </div>
</div>
