<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="../../../../assets/img/Bonusprogramme.png" class="img-fluid" alt="">
    </div>
    <div class="col-6">
      <h5><b>Your options:</b></h5><br>

      <h5><i class="fas fa-flag-checkered"></i>   Bonus actions</h5><br>
      <p>
          You sign up for a newsletter, order a trial subscription, or join a raffle. Everything completely non-binding and can be unsubscribed with a few clicks. You've already earned your next dinner - in seconds!
      </p><br>


      <h5><i class="fas fa-flag-checkered"></i>   Tasks / Tasks</h5><br>
      <p>
          You have the opportunity to do small tasks and get from the Advertisers a commission in return for your time.
      </p>

      <h5><i class="fas fa-flag-checkered"></i>   banners</h5><br>
      <p>
          You will receive a banner ad from us. You have to click on it and view it for a given period of time. You will already be credited an amount that you can later pay off 100%
      </p>
    </div>
  </div>
</div>
