<div class="container">

<div class="sidebar-wrapper">

  <ul class="nav" *ngFor="let item of $allCategories | async">
    <li >
     <a (click)="getCategory(item.id)"   >{{item.name}}</a><br>
    </li>
  </ul>


<!--
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">

      <a  class="nav-link" [routerLink]="['merchants']" routerLinkActive="router-link-active" >
        <i class="material-icons"></i>
        <p>Merchants</p>
      </a>


    </li>
    <li routerLinkActive="active" class="nav-item">

      <a  class="nav-link" [routerLink]="['categories']" routerLinkActive="router-link-active" >
        <i class="material-icons"></i>
        <p>Categories</p>
      </a>


    </li>

  </ul> -->

</div>
</div>
