<div class="row">

  <mat-card class=" offest-1 col-5" *ngFor='let row of $allMerchants | async'>

    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img [src]=row?.logo alt="">

      </div>
      <mat-card-title>{{row?.name}}</mat-card-title>
      <mat-card-subtitle>{{row?.merchantDetails}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <a [routerLink]="['../', row?.id]">details</a> -->
    <button class="btn btn-block btn-success" (click)="getCouponCode(row?.id)">Generate Coupon</button>

  </mat-card>
</div>
