<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <ul >
            <li><b>Bonus Bunny</b></li>
            <li>About Bonus Bunny</li>
            <li>Privacy Policy</li>
            <li>Cancellation policy</li>
            <li>Terms and Conditions</li>
            <li>Imprint</li>
          </ul>
        </div>
        <div class="col-3">
          <ul>
            <li><b>Info</b></li>
            <li>News</li>
            <li>Payment types</li>
            <li>on Facebook</li>
            <li>on Youtube</li>
          </ul>
        </div>
        <div class="col-3">
          <ul>
            <li><b>Support</b></li>
            <li>FAQ/Help</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="col-3">
          <ul>
            <li><b>ratng</b></li>

          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
