<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <circle-progress [percent]="98" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#e09900'"
        [innerStrokeColor]="'#C7E596'" [animation]="true" [unitsColor]="'#e09900'" [subtitleColor]="'#e09900'"
        [animationDuration]="600" [titleColor]="'#e09900'">
      </circle-progress><br>
      <h5>Satisfied members</h5>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <circle-progress [percent]="95" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#e09900'"
        [innerStrokeColor]="'#C7E596'" [animation]="true" [unitsColor]="'#e09900'" [subtitleColor]="'#e09900'"
        [animationDuration]="600" [titleColor]="'#e09900'">
      </circle-progress>
      <br>
      <h5>possibilities</h5>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#e09900'"
        [innerStrokeColor]="'#C7E596'" [animation]="true" [unitsColor]="'#e09900'" [subtitleColor]="'#e09900'"
        [animationDuration]="600" [titleColor]="'#e09900'">
      </circle-progress><br>
      <h5>Payments made</h5>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <circle-progress [percent]="89" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#e09900'"
        [innerStrokeColor]="'#C7E596'" [animation]="true" [unitsColor]="'#e09900'" [subtitleColor]="'#e09900'"
        [animationDuration]="600" [titleColor]="'#e09900'">
      </circle-progress><br>
      <h5>Existing members</h5>

    </div>
  </div>
</div>
